* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor principal */
.app-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.background-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.logo {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 156px;
  width: 266px;
}

.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; /* Ocupa el ancho completo del contenedor padre */
  max-width: 800px; /* Limita el ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

h1 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  color: #142EA9;
}

.login-title {
  font-size: 40px;
  margin-top: 30px; 
  margin-bottom: 50px;
  font-weight: 700;
  font-style: bold; 
}

/* Estilos para el campo de entrada */

/* Estilos para el contenedor del input */
.input-container {
  margin-bottom: 15px; /* Espacio entre los campos */
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Estilos para la etiqueta */
.input-label {
  display: flex;
  align-items: start; /* Alinea los elementos verticalmente */
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  color: #141414 !important;
}

/* Estilos para el texto dentro del label */
.label-text {
  margin-right: 4px; /* Espacio entre el texto y el asterisco */
}

/* Estilos para el asterisco de color diferente */
.required-asterisk {
  color: #CC1212; /* Color del asterisco */
  font-size: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  color: #141414;
  background-color: #E5E7E9;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-field[type="password"] {
  font-size: 20px !important; /* Asegúrate de que el tamaño de fuente sea el mismo que para otros campos */
}

.input-field:focus {
  border-color: #007bff; /* Cambia el color del borde al enfocar */
}

.pass-message{
  font-size: 20px;
  color: #8005A3;
  text-decoration: none;
  margin-top: 50px;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  text-align: start;
}


