/* Estilos para el botón del ícono */
.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.icon {
    width: 85px;
    height: 85px;
}

.info{
    margin-left: 24px;
}

/* Estilos para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
}

.about-profile {
    font-size: 16px;
    width: 380px; /* Ancho fijo del modal */
    border: 1px solid #000;
    background-color: #fff; /* Fondo blanco para el modal */
    position: absolute; /* Posición absoluta para colocarlo cerca del ícono */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la derecha */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el modal */
}

.profile-header {
    color: #fff;
    background-color: #8005A3;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #000;
}

.profile-body {
    padding: 15px;
}

.profile-action {
    background-color: #fff;
    border: 1px solid #000;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.profile-action:last-child {
    margin-bottom: 0;
}

.profile-action:hover {
    background-color: #f0f0f0;
    border-color: #000;
}