.table-container {
    margin-top: 40px;
    background-color: #E5E7E9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.table-container table {
    width: 100%;
    border-spacing: 0 10px; /* Espacio solo vertical */
    border-collapse: separate;/* Asegura que el border-spacing funcione */
}

.table-container th, .table-container td {
    padding: 12px 15px;
    text-align: left;
    background-color: #fff; /* Fondo blanco para las celdas */
    border-radius: 0; /* Bordes redondeados para las celdas */
}

.table-container th {
    background-color: #E5E7E9;
    color: #909497;
    font-weight: bold;
}


.table-container td {
    color: #000;
}

.table-container .td-blue {
    color: #142EA9;
}

.table-container button {
    background-color: #fff;
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina el padding interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
}

.table-container .actions {
    width: 300px; /* Ancho fijo para la columna de acciones */
    padding: 8px; /* Reduce el padding para ahorrar espacio */
}

.table-container .actions div {
    display: flex;
    justify-content: space-between; /* Distribuye los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
}